*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.liste-nav {
    width: 100%;
    height: 70px;
    background: #f1f1f1;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-nav {
    font-size: 25px;
    margin: 0 10px;
}
.item-nav:nth-child(1){
    margin-right: auto;
}
.item-nav:nth-child(5) {
    margin-left: auto;
}